/**** Navigation ****/
.navbar {
  background-color: #39373a;
  width: 100%;
}

.navbar-brand {
  padding: 5px 0 0 20px;
}

.navbar-brand > img {
  display: inline;
}

.navbar-brand-text {
  color: DarkGrey;
  padding-left: 0.5em;
}

.nav li a {
  padding-left: 2em;
}

.navbar-header button span {
  background-color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #39373a;
}

/* Navbar Typography */

.navbar-default .navbar-nav > li > a {
  font-size: 1em;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #BE98FF;
}


/**** CONTENT ****/

body {
  padding-top: 50px;
}

#home {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  background-color: #F7FFFF;
}

.hero-image {
  padding: 6em;
  background-image: url("../img/hero-image.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.circle-image {
  display: inline-block;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: url(../img/alexandre_ouellette.jpg) no-repeat -0.5em -1em;
}

.not-full-width {
  width: 80%;
}

#projects a {
  color: inherit;
}

.project-img {
  display: block;
  margin: auto;
  width: 300px;
  height: 220px;
  position: relative;
}

.modal-title {
  display: inline;
}

#resume-embed {
  height: 500px;
  width: 100%;
  padding: 10px;
}

/**** FOOTER ****/
footer {
  width: 100%;
  background-color: #39373a;
  color: white;
  float: left;
  padding: .8em 0 .5em .3em;
}

footer p {
  display: inline;
  -webkit-margin-before: 0;
  vertical-align: top;
  padding-right: .2em;
}

footer .fb-like {
  padding-left: .2em;
  padding-top: 0;
  vertical-align: top;
}


/**** TYPOGRAPHY ****/
.container {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
  text-shadow: 0.08em 0.08em 0px rgba(0,0,0,0.2);
  font-size: 3.5em;
}

.hero-image h2 {
  color: white;
  text-shadow: 0.08em 0.08em 0px rgba(0,0,0,0.2);
  font-size: 2.5em;
}

#contact a {
  color: inherit;
}

/**** GLOBALS ****/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.padding-top-bottom {
  padding-top: 3em;
  padding-bottom: 3em;
}
